@import "fonts"
@import "reset"
*
  margin: 0
  padding: 0
  box-sizing: border-box

  --xs: 4px
  --sm: 12px
  --md: 24px
  --lg: 32px

.d-flex
  display: flex

body
  font-family: "Inter", sans-serif

.container
  margin: 0 auto
  width: calc(100% - 64px)

.header
  height: 64px
  background: #FFF7EB
  align-items: center


.company
  display: flex
  flex-direction: column
  align-items: center
  border-bottom: 1px solid #CCCCCC

  &__title
    font-family: "Inter", sans-serif
    font-weight: bold
    font-size: 24px


.space
  &--xs
    margin-bottom: var(--xs)
  &--sm
    margin-bottom: var(--sm)
  &--md
    margin-bottom: var(--md)
  &--lg
    margin-bottom: var(--lg)

.cards
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 64px
  .card

    padding: 20px
    max-width: 560px
    width: 100%
    background: #F5F5F5
    border-radius: 20px
    display: flex
    gap: 20px

    &__content
      &-title
        margin-top: var(--xs)
        margin-bottom: var(--xs)

      &-p
        line-height: 24px

      .guaranties
        white-space: nowrap

    &__img
      border-radius: 20px
      width: 140px
      height: 140px

.footer
  min-height: 68px
  background: #F5F5F5
  gap: 20px
  &__container
    gap: 20px
    padding-top: 24px
  &__brand
    display: block
    font-size: 15px
  &__link
    text-decoration: none
    color: #6B6B6B
    font-size: 15px
    display: block
    font-weight: 500