.btn
  border-radius: 12px
  background: transparent
  cursor: pointer
  border: none
  box-sizing: border-box
  text-decoration: none
  color: #000
  display: flex
  align-items: center
  gap: 4px

  &__count
    color: #6B6B6B

  &--big
    padding: 16px 20px
    font-size: 15px
    font-weight: normal

  &--small
    padding: 8px 12px

  &--gray
    background: #E8E8E8
  &--accent
    background: #337566
    color: #fff